.head_imgs {
    background-color: #FF8000;
    width: 150px;
    margin: 16px;
    margin-right: 0;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

.svg_logo {
    height: 48px;
}

.shoppingcart {
    height: 48px;
    margin: 16px;
}

footer {
    background-color: #FF8000;
    display: flex;
    justify-content: space-around;

}

.logo_footer {
    width: 75px;
}

.img_pizza {
    object-position: center;
    height: 450px;
    width: auto;
    object-fit: cover;
}


.pizza_magherita {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.margherita {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.head{
    padding-bottom: 8px;
}

.info{
    padding-bottom: 24px;
}