.head_imgs {
    background-color: #FF8000;
    width: 150px;
    margin: 16px;
    margin-right: 0;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

.svg_logo {
    height: 48px;
}

.shoppingcart {
    height: 48px;
    margin: 16px;
}

footer {
    background-color: #FF8000;
    display: flex;
    justify-content: space-around;

}

.logo_footer {
    width: 75px;
}

.pizzaimg {
    object-position: center;
    height: 450px;
    width: auto;
    object-fit: cover;
}


.pizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;

}

.head{
    padding-bottom: 8px;
}

.info{
    padding-bottom: 24px;
}

.price1{
    padding-right: 45px;
}

.price2{
    padding-right:100px;
}

.pastaimg {
    object-position: center;
    height: 450px;
    width: auto;
    object-fit: cover;
}

.pasta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-bottom: 24px;

}

.price3{
    padding-right: 35px;
}

.price4{
    padding-right: 16px;
}
.price5{
    padding-right: 270px;
}

.saladimg {
    object-position: center;
    height: 450px;
    width: auto;
    object-fit: cover;
}

.salad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;

}

.price6{
    padding-left: 42px;
}

.price7{
    padding-right: 385px;
}

.price8{
    padding-right: 222px;
}

.shopcart{
    display: flex;
    justify-content: flex-end;
    display:none;
}