body {
    margin: 0px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 18px #888888;
}

h1 {
    margin: 0;
    padding-right: 80px;
}

h2 {
    margin: 0;
}


.head_imgs {
    background-color: #FF8000;
    width: 150px;
    margin: 16px;
    margin-right: 0;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

.svg_logo {
    height: 48px;
}

.shoppingcart {
    height: 48px;
    margin: 16px;
}

footer {
    background-color: #FF8000;
    display: flex;
    justify-content: space-around;

}

.logo_footer {
    width: 75px;
}

.pizza {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

.img_pizza {
    height: 300px;
    width: 100vh;

}


.pizza_card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 919px;
    padding: 24px;

}

.mar {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.sal {
    display: flex;
    flex-direction: column;
    text-align: start;
}

input{
    height: 16px;
    width: 50px;
}

button{
    height: 22px;

}